# Running on Nvidia driver 550.120, RTX 4060 (laptop) 8GiB, CUDA 12.4
# Pytorch 2.6.0, Python 3.10.12

torch
torchvision
torchaudio
munch
numpy
pyyaml
lightning
plyfile
trimesh
pyvista
scikit-image
mesh-to-sdf